{% extends "layout2.html" %}

{% block title %}
Alpha - Book Review

{% endblock %}

{% block navbar %}
<!--Navbar -->

        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="{{url_for('logout')}}">Log out</a>
        </div>

<!--/.Navbar -->
{% endblock %}

{% block body %}

<div class="container card">
  <div class="card-header">
    Book Information
  </div>
  <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Title: <b>{{book.title}}</b></li>
        <li class="list-group-item">ISBN: <b>{{book.isbn}}</b></li>
        <li class="list-group-item">Author: <b>{{book.author}}</b></li>
        <li class="list-group-item">Year: <b>{{book.year}}</b></li>
        <li class="list-group-item">Average Rating: <b>{{ratings.rating}}</b></li>
        <li class="list-group-item">Goodreads Rating: <b>{{goodreads[0]['average_rating']}}</b> <i class="fas fa-star fa-sm text-primary"></i>  ({{goodreads[0]['reviews_count']}})</li>
      </ul>

      <!------Submit you rating------>
      <div class="container my-5">


        <!--Section: Block Content-->
        <section class="dark-grey-text mb-5">

          <!-- Section heading -->
          <h3 class="font-weight-bold text-center mb-5">Rate this book</h3>
          {% with message = get_flashed_messages() %}
          {% if message: %}
          {% for m in message: %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% if presentRating: %}
            <div class="media mb-3">
              <img class="card-img-100 rounded-circle z-depth-1-half d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" alt="Generic placeholder image">
              <div class="media-body">
                <a>
                  <h5 class="user-name font-weight-bold">{{session['user_name']}}</h5>
                </a>
                <!-- Rating -->
                {{presentRating.rating}} <i class="fas fa-star fa-sm text-primary"></i>
              </div>
            </div>

            {% else: %}
            
            <form action="{{url_for('rating')}}" method="post">
                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-wrap">
                      <div class="select-outline position-relative w-100">
                        <select class="mdb-select md-form md-outline" name="rating" required>
                          <option value="" disabled selected>Choose your rating</option>
                          <option value="1">1 <i class="fas fa-star fa-sm text-primary"></i></option>
                          <option value="2">2 <i class="fas fa-star fa-sm text-primary"></i></option>
                          <option value="3">3 <i class="fas fa-star fa-sm text-primary"></i></option>
                          <option value="4">4 <i class="fas fa-star fa-sm text-primary"></i></option>
                          <option value="5">5 <i class="fas fa-star fa-sm text-primary"></i></option>
                        </select>
                      </div>
                    </div>

                    <div class="md-form md-outline">
                      <textarea id="form76" class="md-textarea form-control" rows="4" name="comment"></textarea>
                      <label for="form76">Add Comment</label>
                    </div>
                    
                    <div class="md-form md-outline">
                      <input type="text" id="inputDisabledEx13" name="book_id" value="{{book.isbn}}" class="form-control">
                      <label for="inputDisabledEx13" class="disabled">Book ISBN</label>
                    </div>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
            </form>


          {% endif %}
        </section>
      </div>


      <!----End Submit rating-------->
      <hr>

      <!------Users ratings ----->
      <div class="container my-5">


        <!--Section: Block Content-->
        <section class="dark-grey-text mb-5">

          <!-- Section heading -->
          <h3 class="font-weight-bold text-center mb-5">Book Reviews</h3>
          {% if ratings: %}
        
          {% for rating in ratings: %}
          <div class="media mb-3">
            <img class="card-img-100 rounded-circle z-depth-1-half d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg" alt="Generic placeholder image">
            <div class="media-body">
              <a>
                <h5 class="user-name font-weight-bold">User Id: {{rating.user_id}}</h5>
              </a>
              <!-- Rating -->
              {{rating.rating}} <i class="fas fa-star fa-sm text-primary"></i>

              <p class="dark-grey-text article">{{rating.comment}}</p>
            </div>
          </div>
          {% endfor %}
          {% else: %}
          No Reviews
          {%endif%}

        </section>
        <!--Section: Block Content-->


      </div>



            <!---End Users Ratings------>
</div>
</div>

{% endblock %}

<script type="text/javascript">
  $(document).ready(function () {
  $('.mdb-select').materialSelect();
  $('.select-wrapper.md-form.md-outline input.select-dropdown').bind('focus blur', function () {
    $(this).closest('.select-outline').find('label').toggleClass('active');
    $(this).closest('.select-outline').find('.caret').toggleClass('active');
  });
});
</script>